[submodule "fatec_ipi_noite_20202_pdm_cadastro"]
	path = fatec_ipi_noite_20202_pdm_cadastro
	url = https://github.com/jlzimmerhansl/fatec_ipi_noite_20202_pdm_cadastro.git
[submodule "fatec-ipi-app-lembretes"]
	path = fatec-ipi-app-lembretes
	url = https://github.com/jlzimmerhansl/fatec-ipi-app-lembretes.git
[submodule "fatec-ipi-pdm-noite-OneCallApi"]
	path = fatec-ipi-pdm-noite-OneCallApi
	url = https://github.com/jlzimmerhansl/fatec-ipi-pdm-noite-OneCallApi.git
